/bin
build/
dist/
/Error.txt
/Error1.txt
/.classpath
*.iml
.idea/
target/
*.class
*.log

# jenv file(s)
.java-version

# Repo specific ignores
/ScanReport.xlsx
*swp
tmp/*
Try*
/examples/
.DS_Store
data/

# contains authentication data for a Snowflake test instance
snowflake.env
# contains authentication data for a BigQuery test instance
bigquery.env
# contains authentication data for a Databricks test instance
databricks.env
