# Usage: dist/bin/whiteRabbit -ini <ini_file_path>
WORKING_FOLDER = %WORKING_FOLDER%                   # Path to the folder where all output will be written
DATA_TYPE = Databricks                        # "Delimited text files", "MySQL", "Oracle", "SQL Server", "PostgreSQL", "MS Access", "Redshift", "BigQuery", "Azure", "Teradata", "SAS7bdat"
DATABRICKS_SERVER = %DATABRICKS_SERVER%    # Name or address of the server. For Postgres, add the database name
DATABRICKS_PERSONAL_ACCESS_TOKEN = %DATABRICKS_PERSONAL_ACCESS_TOKEN%                        # Password for the database
DATABRICKS_HTTP_PATH = %DATABRICKS_HTTP_PATH%                   # Name of the data schema used
DATABRICKS_CATALOG = %DATABRICKS_CATALOG%
DATABRICKS_SCHEMA = %DATABRICKS_SCHEMA%
TABLES_TO_SCAN = *                            # Comma-delimited list of table names to scan. Use "*" (asterix) to include all tables in the database
SCAN_FIELD_VALUES = yes                       # Include the frequency of field values in the scan report? "yes" or "no"
MIN_CELL_COUNT = 5                            # Minimum frequency for a field value to be included in the report
MAX_DISTINCT_VALUES = 1000                    # Maximum number of distinct values per field to be reported
ROWS_PER_TABLE = 100000                       # Maximum number of rows per table to be scanned for field values
CALCULATE_NUMERIC_STATS = no                  # Include average, standard deviation and quartiles in the scan report? "yes" or "no"
NUMERIC_STATS_SAMPLER_SIZE = 500              # Maximum number of rows used to calculate numeric statistics
